@using bookish.Models.View;
@model BookViewModel;

@{
    ViewData["Title"] = "View all books";
}

<div>
    <table>
        <thead>
            <tr>@*  row1 *@
                <th scope="col">ISBN</th>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Year Of Publication</th>
                <th scope="col">Publisher</th>
                <th scope="col">More</th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach(var book in Model.Books)
                {
                    <tr>
                        <td>
                            <a class="btn btn-link" asp-area="" asp-controller="Book" asp-action="BookDetail" asp-route-id=@book.Id> @book.ISBN</a>
                        </td>
                        <td><img src="@book.ImageURLS" alt="Image of book @book.Title"></td>
                        <td>
                            <a class="btn btn-link" asp-area="" asp-controller="Book" asp-action="BookDetail" asp-route-id=@book.Id> @book.Title</a>
                        </td>
                        <td>@book.Author</td>
                        <td>@book.YearOfPublication</td>
                        <td>@book.Publisher</td>
                        <td>
                            <a class="btn btn-dark btn-sm" asp-area="" asp-controller="Copy" asp-action="AddCopy" asp-route-id=@book.Id> Add Copy</a>
                        </td>
                    </tr>  
                }
            }

        </tbody>

    </table>
    <div>
        
        @if (ViewBag.Page > 0)
        {
            <a href="@Url.Action("ViewAll", new { pageNum = ViewBag.Page - 1 })" 
            class="btn btn-default">
                &laquo; Prev
            </a>
        }
        @if (ViewBag.Page < ViewBag.MaxPage)
        {
            <a asp-controller="Book" asp-action="ViewAll" asp-route-pageNum="@(ViewBag.Page + 1)"
            class="btn btn-default">
                Next &raquo;
            </a>
        }

    </div>

</div>